:root {
    --HospitalGreen: #ACD9B2;
    --White: #ffffff;
    --Black: #000000;
    --Text-input-field: 
    #f7f7f7;
    --Verylight-pink: #C7C7C7;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

html {
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
}

body {
    font-size: 1.6rem;
    font-family: 'Quicksand', sans-serif;
}

/* Posicionamiento
Box Model
Tipografía
Visuales
Otros */

.cards__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 24rem);
}

.product-card {
    width: 24rem;
}

.product-card img {
    width: 24rem;
    height: 24rem;
    border-radius: 2rem;
    object-fit: cover;
    object-position: right;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info figure {

    width: 3.5rem;
    height: 3.5rem;
}

.product-info figure img {
    width: 3.5rem;
    height: 3.5rem;
}