:root {
    --HospitalGreen: #ACD9B2;
    --White: #ffffff;
    --Black: #000000;
    --Text-input-field: 
    #f7f7f7;
    --Verylight-pink: #C7C7C7;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

html {
    font-size: 62.5%;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
}


.mobile-menu {
    padding: 2.4rem;
    color: var(--Black);
    font-weight: bold;

}

.mobile-menu ul {
    list-style: none;
    margin:2.4rem 0 0;
}

.mobile-menu ul:nth-child(1) {
    border-bottom: 0.1rem solid var(--Verylight-pink);
}

.mobile-menu ul li {
    margin-bottom: 2.4rem;
}

.mobile-menu .user__email {
    font-size: var(--sm);
    font-weight: 300;
}

.mobile-menu .sign-out__button {
    color: var(--HospitalGreen);
}