:root {
    --HospitalGreen: #ACD9B2;
    --White: #ffffff;
    --Black: #000000;
    --Text-input-field: 
    #f7f7f7;
    --Verylight-pink: #C7C7C7;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

html {
    font-size: 62.5%;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 2.4rem;
    border-bottom: 0.1rem solid var(--Verylight-pink);
}

.menu   {
    display: none;
}

.logo   {
    width: 10rem;
}

.navbar-left {
    display: flex;
}

.navbar-left ul {
    margin-left: 1.2rem;
}

.navbar-left ul,
.navbar-right ul {
    list-style: none;
    /* margin-top: 1.2rem; */
    display: flex;
    align-items: center;
    height: 6rem;
}

.navbar-left ul li a,
.navbar-right ul li a {
    color: var(--Verylight-pink);
    border: 0.1rem solid var(--white);
    padding: 0.8rem;
    border-radius: 0.8rem;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
    color: var(--HospitalGreen);
    border: 0.1rem solid var(--HospitalGreen);
}

.navbar-right .navbar-email {
    color: var(--Verylight-pink);
    font-size: var(--sm);
    margin-right: 1.2rem;
}

.navbar-right .navbar-shopping-cart {
    position: relative;
}

.navbar-right .navbar-shopping-cart a {
    padding: 0;
}

.navbar-right .navbar-shopping-cart a span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -0.6rem;
    right: -0.3rem;
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--HospitalGreen);
    color: var(--Black);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
}